
* {
    box-sizing: border-box;
}

body {
    min-height: 100vh
}

svg {
    width: 100%;
    height: 100%;
}

.main {
    display: grid;
    padding: 0 1em;
    grid-auto-rows: max-content;
}

.sampleInput {
    border: 1px solid black;
    height: 5em;
}
