* {
    box-sizing: border-box;
}

body {
    min-height: 100vh
}

canvas, svg {
    width: 100%;
    height: 50px;
    border: 1px solid black;
    margin-top: 1em;
}

.u-graph--fullHeight {
  height: 250px;
}

.main {
    display: grid;
    padding: 0 1em;
    grid-auto-rows: max-content;
}

.toleranceInput__slider {
    width: 100%;
}
