* {
    box-sizing: border-box;
}

body {
    min-height: 100vh
}

svg {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    margin-top: 1em;
}

.main {
    display: grid;
    padding: 0 1em;
    grid-auto-rows: max-content;
}

.sampleInput {
    height: 5em;
}

.toleranceArea {
    height: 15em;
}

.toleranceInput__slider {
    width: 100%;
}
